#container {
  min-width: 800px;
  max-width: 960px;
  margin: 0 auto;

}

#header {
  padding-top: 32px;
  padding-bottom: 28px;
  vertical-align: middle;
  color: white;

}
 *{
	margin:0px;
	padding:0px;
}
 h1{
 	background-color:#000080;
 	font-size:30px;
 	color:white;
 	padding-bottom:60px;
	font-family: arial;
    text-align: center;
    border: 1px solid white;
}

body{
	background-color:#C0C0C0;
}
.sal{
	background-color: gray;
	float:right;
}
#menu ul{
		list-style:none;
}
#menu ul li{
			color:white;
			background-color:#000080;
			margin:2px;
			width:120px;
			height:35px;
			line-height: 35px;
			text-align: center;
			float:left;
			position: relative;
			border-radius: 8px;
}
#menu ul li a{
			text-decoration:none;
			color:white;
			display:block;
}
#menu ul li a:hover{
					background-color:pink;
					border-radius: 8px;
}
#menu ul ul{
			position: absolute;
			display: none;
}
#menu ul li:hover > ul{
					display: block;
}
#menu ul ul ul{
			margin-left:120px;
			top:0px;
}
div{

    margin:10px;
	padding:10px;

}
#zai ul{
		list-style:none;
}
#zai ul li{
		color:white;
		background-color:green;
		margin:2px;
		width:120px;
		height:35px;
		line-height: 35px;
		text-align: center;
		float:left;
		position: relative;
}
#zai ul li a{
			text-decoration:none;
			color:white;
			display:block;
}
#zai ul li a:hover{
					background-color:blue;

}
#zai ul ul{
			position: absolute;
			display: none;
}
#zai ul li:hover > ul{
				display: block;
}
#zai ul ul ul{
			margin-left:120px;
			top:0px;
}
div{

    margin:10px;
	padding:10px;

}
.raas{
	background-color: white;
	float:right;
	text-align: center;
}
h3{
	background-color: gray;

}
